<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-home"></i> 	
            GeoPortal<span></span>
        </h1>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
        <div class="page-title pull-right" >

            <button button-popover style="font-size:16px" class="btn btn-default"  ng-click="togglePopover($event)"> <i class="glyphicon glyphicon-map-marker"></i></button>
            <button style="font-size:16px" class="btn btn-default" ng-click="goToHome()"> <i class="fa fa-home"></i></button>
            <button style="font-size:16px" class="btn btn-default" ng-click="refresh()"> <i class="fa fa-refresh"></i></button>
            <button style="font-size:16px" class="btn btn-default" ng-click="getFeatureInfo()"> <i class="fa fa-info-circle"></i></button>
            <button style="font-size:16px" class="btn btn-default" ng-click="printMap()"> <i class="fa fa-print"></i></button>
            <button style="font-size:16px" class="btn btn-default" ng-click="save()"> <i class="fa fa-save"></i></button>
        </div>
    </div>
</div>

<div class="row" style="margin-bottom: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="btn-group pull-right" style="margin-top: -5px;">
            <button type="button" 
                    class="btn btn-default btn-sm"
                    >
                {{selectedLayers.name}}
            </button>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu" >
                <li ng-repeat="layerGroup in layerConf" role="presentation" ng-click="updateSelectedLayerConf($index)">
                    <a>{{layerGroup.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height:800px">
        <leaflet  center="center" layers="layers" height="800px" defaults="defaults"></leaflet>
    </div>
</div>